@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-back-007 : #00eee5;
    --color-front-007 : #0b0913;
}

.slibar-menu-item{
    @apply border-2;
    @apply border-gray-700/30;
    @apply p-3;
    @apply flex ;
    color : var(--color-front-007);
    justify-items: center;
    align-items: center;;
    gap: 10px;
    @apply rounded-2xl;
}

.active{
    @apply border-black;
    @apply bg-black;
    @apply text-back-007;
}


html {
    scroll-behavior: smooth;
    scrollbar-color: #000 transparent; 
}


.activeTap{
    border-bottom: 2px solid;
    @apply border-orange-500;
}